:local(.TagInput),
:local(.TagInput) * {
  box-sizing: border-box;
}

:local(.TagInput) {
  background: white;
  position: relative;

  width: 100%;
  max-width: 42em;
  border: 1px solid lightgray;
  margin: 2em auto;
  padding-left: 1rem;

  display: flex;
  flex-wrap: wrap;
}

:local(.TagInput) input {
  min-width: 50%;
  padding: 1rem 1rem 1rem 0;
  border: none;
  flex: 1;
}

:local(.TagInput) input:focus {
  outline: none;
}

:local(.TagInput) .label {
  display: inline-block;
  position: relative;
  background: lightskyblue;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.75rem;
  height: 1.75rem;
  margin: 0.75rem 0.75rem 0 0;
  padding: 0 1.75rem 0 0.75rem;
}

:local(.TagInput) .label .close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: white;
  line-height: 1rem;
  height: 100%;
  width: 1.5rem;
  border: none;
}

:local(.TagInput) ul {
  list-style: none;
  display: block;
  box-shadow: 0 1px 1px lightgrey;
  background: white;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: -1px;
  top: calc(100% + 1px);
  width: calc(100% + 2px);
  max-height: 22rem;
  margin: 0;
  padding: 0;
}

:local(.TagInput) ul > li {
  display: block;
  color: #444;
  border: 1px solid lightgrey;
  border-top: none;
  padding: 1rem;
}

:local(.TagInput) ul > li.tag-item__focused,
:local(.TagInput) ul > li:hover {
  background: lightcyan;
}
