:local(.TagInput),
:local(.TagInput) * {
  box-sizing: border-box;
}

:local(.TagInput) {
  background: white;
  position: relative;
  width: 100%;
  max-width: 42em;
  border: 1px solid lightgray;
  margin: 2em auto;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}

:local(.TagInput) input {
  min-width: 50%;
  padding: 1rem 1rem 1rem 0;
  border: none;
  flex-grow: 1;
  flex-shrink: 0;
}

:local(.TagInput) input:focus {
  outline: none;
}

:local(.TagInput) .label {
  background-color: lightskyblue;
  display: inline-block;
  position: relative;
  color: white;
  font-size: 0.75rem;
  line-height: 1.75rem;
  height: 1.75rem;
  margin: 0.75rem 0.75rem 0 0;
  padding: 0 1.5rem 0 0.75rem;
  border-radius: 0.25rem;
  flex-shrink: 0;
}

:local(.TagInput) .label .close {
  position: absolute;
  background: transparent;
  color: white;
  height: 100%;
  width: 1.5rem;
  border: none;
  padding: 0;
  margin: 0;
}

:local(.TagInput) menu {
  display: block;
  background: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: -1px;
  top: 100%;
  width: calc(100% + 2px);
  max-height: 22rem;
  margin: 0;
  padding: 0;
}

:local(.TagInput) menu.-isOpen {
  border: 1px solid lightgrey;
}

:local(.TagInput) menu > li {
  display: block;
  color: #444;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
}

:local(.TagInput) menu > li.tag-item__focused,
:local(.TagInput) menu > li:hover {
  background: lightcyan;
}
